*{
    margin: 0;
    padding: 0;
}


body{
    font-family: monospace;
    background-color: rgb(148, 147, 147);
}

header{

}
.headerContainer {
    list-style: none;

    max-width: 100%;
    height: 100px;
    
}

nav a{
    padding: 2%;    
    text-decoration: none;
    
    font-size: 20px;
    color: rgb(0, 0, 0);
    float: right;
}
nav a:hover{
    color: rgb(255, 255, 255);
}

nav{
    text-align: right;
}
.logo{
    
    font-size: 80px;
    margin: 10px;
    float: left;

   
}

main{
    margin-top: 15px; 
}

.introducao{
    font-size: 30px;
    align-self: center;
}

.flexContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(81, 4, 88);
}

.flexContainer section{
    border: 1px solid rgb(33, 78, 3);
    margin: 30px;
}

.sobre_mim{
    font-size: 30px;
    float: left;
    margin-left: 3%;
}

.inicio{
    font-size: 20px;
    float:left;
    margin-left: 15%;
}

.titulo1{

    font-size: 30px;
    float: left;
    margin-left: 40%;
}

.imagem{
    float: left;
    margin-left: 70%;
    
}

.contato{
    font-size: 24px;
    font-weight: bold;
    float: left;
    margin-left: 40%;
    margin-top: 1%;
}

.cursos{
font-size: 30px;
float: left;
margin-left: 40%;
margin-top: 1%;
}

.cursosContainer{


}


